# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BLINK_GPIO_LED
	bool "GPIO-controlled LED blink driver"
	default y
	depends on DT_HAS_BLINK_GPIO_LED_ENABLED
	select GPIO
	help
	  Enable this option to use the GPIO-controlled LED blink driver. This
	  demonstrates how to implement a driver for a custom driver class.
